body {
  margin: 0;
  background-color: #67AEE2;
  font-family: "lato", sans-serif;
  font-size: 14px;
  color: #555;
}

/* ======================
    Font Stuff
  ======================= */
  
h1 {
  color: #4C8EB9;
  font-weight: 500;
  /*font-family: "museo-slab", sans-serif;*/
}

h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 500;
  /*font-family: "museo-slab", sans-serif;*/
}

.mission {
  font-size: 20px;
  font-weight: 200;
}

.visiting {
  font-size: 20px;
  color: #333;
  padding-bottom: 20px;
  font-weight: 200;
  margin: 0;
  font-family: "lato",sans-serif;
  color: #555;
}

.hosting {
  font-size: 20px;
  font-weight: 200;
}

.small {
  font-size: 12px;
}

a {
  color: #4C8EB9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* ======================
    Header
  ======================= */
header{
  background-color: #67AEE2;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background: url(/img/generic-bg.png);
  background-size: cover;
  height: 300px;
 }

header .column { 
  display: table-cell;
  margin-bottom: 15px;
  padding: 0px; 
  width: 33%;
}
 
/* Nav bar */

nav {
  padding: 20px;
  font-size: 16px;
  padding-bottom: 0; 
  color: white;
}
nav a{
  color: white;
  text-decoration: none;
}
nav a:hover{
  text-decoration: none;
  background: rgba(51,51,51,0.2);
}

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul {
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-table;
}

nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul li {
  float: left;
}

nav ul li:hover {
}

nav ul li a {
  display: block; 
  text-decoration: none;
}

nav ul ul {
  border-radius: 0px; 
  padding: 0;
  position: absolute; 
  top: 100%;
}
nav ul ul li {
  float: none; 
  position: relative;
}


nav ul ul li a:hover {
  background: rgba(51,51,51,0.2);
}

nav ul ul ul {
  position: absolute; 
  left: 100%; 
  top:0;
}

/* Logo and Title */

#main_logo {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}

#main_logo img {
  padding-top:50px;
  padding-bottom:20px;
  width: 200px;
}

#main_logo_img {
  margin: 0 auto;
  width: 300px;
}

#main_title {
 font-size: 50px;
 font-weight: 300;
 letter-spacing: 4px;
}

#main_sub{
  font-size: 20px;
}

@media (max-width: 860px) {
  .header {
    height: 400px;
  }
  #main_logo {
    padding-top: 80px;
  }
  nav ul {
    margin-top: 5px;
  }

}

@media (max-width: 371px) {
  nav {
    padding-top: 0;
  }
}

/* ======================
    Main Page
  ======================= */
.page-content{
  background-color: #fff;
  margin-top: 20px;
  z-index: -1;
}
.wrap {
  margin: 0 auto;
}

header .wrap {
  display: table;
  max-width: 800px;
  margin: 0 auto;
}

.content{
  max-width: 1200px;
}
@media (max-width: 1200px) {
  .page-content {
    padding: 0 5px;
  }
}

#homeuplogo {
  width: 300px;
}

.homeupcoming a:hover {
  text-decoration:none;
  color:black;
}

/* ======================
    Mission Page
  ======================= */
.mission h1 {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  font-family: "lato",sans-serif;
  color: #555;
}

/* ======================
    Conf logos
  ======================= */
.logo {
  width: 200px;
}
.logo_in_page{
  float: right;
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top:0px;
  padding-bottom: 15px;
  margin-right: 35px;
}
.logo_in_list { 
  float: left; 
  padding-right: 20px;
  padding-bottom: 10px;
}

/* ======================
    Main page 2 col
  ======================= */
.col_2 div {
  max-width: 600px;
  width: 100%;
  min-width: 200px;
}
.col_2 .left{
  float: left
}
.col_2 .right{
  float: left;
}

/* Upcoming Events */
.cur_conf{
  text-align: center;
}
.cur_conf h1{
  text-align: left;
  margin-left: 20px;
}
.cur_conf h2{
  margin: 0;
}
.cur_conf p{
  margin: 0;
}

@media (max-width: 1200px) {
  .col_2 div {
    max-width: 100%;
  }
  .cur_conf h1 {
    margin-left: 0;
  }
}

.stream {
  width: 480px;
  margin: 0 auto;
}
/* ======================
    Speaker List Section
  ======================= */
.head {
  width:170px;
  border-radius: 300px
}
.speaker {
  text-align: center;
  display: inline-table;
  margin: 20px;
}
.speaker h2{
  margin: 0;
  font-weight: normal;
}
.speakers ul{
  list-style: none;
  text-align: center;
  padding: 0;
}
.speakers ul li{
  display: inline;
  margin: 20px;
}

/* ======================
    Thanks
  ======================= */
.sponsors{
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.schedule b {
  color: #4C8EB9;
}
.schedule h2{
  margin: 0;
}
/* ======================
    Table
  ======================= */
.flag {
  width: 45px;
  margin: 5px;
}
td {
  vertical-align:middle;
  padding: 5px 10px;
}

table {
  border-spacing: 0;
}
tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
}
/* ======================
    Footer
  ======================= */
footer {
  color: #ffffff;
  margin-top: 50px;
  background-color: #67AEE2;
  max-width: 100%;
  overflow: hidden;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #333;
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding: 0;
}
footer .wrap {
  display: table;
  max-width: 800px;
  margin: 0 auto;
}
footer .column { 
  display: table-cell;
  margin-bottom: 15px;
  padding: 0 5px; 
  width: 33%;
}
