---
layout: default
---
<div class="col_2">
    <div class="left">
      <h1> WELCOME TO UNIS-UN </h1>
      <p> Welcome to the UNIS-UN Website! Our goal as an organization is to provide an educationally and intellectually enriching experience for our peers from around the world while promoting globalism and cross-cultural exchange.</p>

      <p>We host an annual conference relating to a contemporary global issue. We invite expert and engaging speakers that are well versed on the topic who present to our audience of 700 high school students from International Schools from 5 continents. For the past 42 years it has been held in the General Assembly Hall at the United Nations Headquarters in New York City. </p>
        
      <p>To the end of promoting global awareness and cross-culturalism, the annual themes are always ones of global importance. Over three hundred students from all over the world are invited to attend in addition to the upper classes at the United Nations International School. This is the fifth year that there will be a half day international celebration featuring international performances and a cultural showcase at UNIS.</p>

      {%if site.show_workingpaper %}
       <p class="working-paper"> <h3><a href="/workingpaper/english"> <i class="fa fa-newspaper-o"></i>  Working Paper</a> </h3></p>
      {% endif %}
    </div>


    <div class="right cur_conf">
    {%if site.show_tweets %}     
      
      <h2>TWEETS</h2>

      <a class="twitter-timeline" href="https://twitter.com/unis_un" data-widget-id="557557787337957376">Tweets by @unis_un</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    {% else %}
     <h1>CONFERENCE VIDEO</h1>
      <a href="/confs/{{ site.conf_year }}">
<iframe src='//www.un.org/webcast/1362235914001/B1J3DDQJf_default/index.html?videoId=6011827649001'  frameborder="0" width="480" height="270" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>      </a>
      <div class ="homeupcoming">
      <a href="http://webtv.un.org/watch/part-2-43rd-annual-unis-un-international-student-conference-ripple-effect-the-water-crisis/6011361708001/?term=">
        <h2> UNIS-UN {{ site.conf_year }} </h2>
      </a>
      </div>
 {% endif %}

    </div>
    <div style="clear:both;"></div>
</div>
<hr>
<h1><!--UPCOMING--> 2020 CONFERENCE</h1> <p> This year’s conference title will be Megacities: A Sustainable Future. Rapid urbanization is shaping our future. We live in a world where the majority of society already lives in urban areas. As a result of rising populations and increasing migration, megacities are emerging across the globe. In order for us to achieve sustainable development, we must make significant changes in the ways in which we build and manage our urban environments. The 2020 UNIS-UN conference will examine the implications of the increasing concentration of population, goods, and services seen in these urban areas. We will investigate the role of government as well as the roles of AI and surveillance. In addition, we will explore the vulnerability faced by cities regarding environmental threats, and discuss how we can work to make cities resilient against them.
</p> 
{% if site.show_sched %}


<hr>
<div class="schedule col_2">
  <h1>SCHEDULE</h1>
  <!-- Edit below -->

<!--

  <div class="left">
    <h2>Thursday 7<sup>th</sup> </h2>
    <table style="padding-left:15px;">
      <tr>
        <td>  8:55</td><td> 9:00 </td><td> <b>Security Announcement </b> </td>  
      </tr>
      <tr>
        <td>  9:00</td><td> 9:10 </td><td> <b>Welcoming Remarks: Dr. Dan Brenner </b><br> <i> UNIS Executive Director</i></td>
      </tr>
        <td>  9:10</td><td> 9:15 </td><td> <b>Co-Chairs Welcome</b><br> <i> Noella Kalasa and Sophia Duff</i></td>
      </tr>
      <td>  9:15</td><td> 9:25 </td><td> <b>Opening Remarks: Mr. Achim Steiner</b><br> <i> Administrator, United Nations Development Programme (UNDP)</i></td>
      </tr>
      <tr>
        <td>  9:25</td><td> 9:30 </td><td> <b>Attendance </b></td>
      </tr>
      <tr>
        <td>  9:30</td><td> 10:15 </td><td><b>Galila Gray</b><br> <i> UNIS Class of 2010, Charity Water</i></td>
      </tr>
      <tr>
        <td>  10:15</td><td> 10:30 </td><td> <b>Q&A Session</b></td>
      </tr>
      <tr>
        <td>  10:30</td><td> 11:15 </td><td> <b>Wolfram Schlenker</b><br> <i> Columbia University Professor, SIPA Center on Global Energy Policy</i></td>
      </tr>
      <tr>
        <td>  11:15</td><td> 11:30 </td><td> <b> Q&A Session </b> </td>
      </tr>
      <tr>
        <td>  11:30</td><td> 1:20 </td><td> Lunch </td>
      </tr>
        <td>  1:20</td><td> 2:20 </td><td><b>Debate 1</b> <br><i>Industrialized countries have a greater responsibility for sustainable development</i></td>
      </tr>
      <tr>
        <td>  2:20</td><td> 3:05 </td><td> <b>Fiona Ward</b><br> Water, Sanitation and Hygiene (WASH) Specialist at UNICEF </td>
      </tr>
       <tr>
        <td>  3:05</td><td> 3:20 </td><td>  <b>Q&A Session</b></td>
      </tr>
      <tr>
        <td>  3:20</td><td> 3:30  </td><td> <b> Closing Remarks </b></td>
      </tr>
    </table>
  </div>
 
  <!-- Day 2 -->

<!--
  <div class="right">
    <h2> Friday 8<sup>th</sup> </h2>
        <table style="padding-bottom:150px;">
      <tr>
        <td> 8:50</td><td> 8:55 </td><td> <b>Security Announcement </b> </td>  
      </tr>
      <tr>
        <td> 8:55</td><td> 9:00 </td><td> <b>Co-Chairs Welcome </b><br><i>Noella Kalasa and Sophia Duff</i></td>
      </tr>
      <tr>
        <td> 9:00</td><td> 9:45 </td><td> <b>Andrew Hudson </b><br><i>Head, Water and Oceans Governance Programme, UNDP</i></td>
      </tr>
      <tr>
        <td> 9:45</td><td> 10:00 </td><td> <b> Q&A Session </b> </td>
      </tr>
      <tr>
        <td> 10:00</td><td> 10:45 </td><td> <b>Seth M. Siegel </b><br><i>Author of "Let There Be Water: Israel's Solution for a Water-Starved World</i></td>
      </tr>
      <tr>
        <td> 10:45</td><td> 11:00 </td><td> <b> Q&A Session </b> </td>
      </tr>
      <tr>
        <td> 11:00</td><td> 11:30 </td><td><b> Short Movie</b> </td>
      </tr>
       <tr>
        <td> 11:30</td><td> 1:20 </td><td> Lunch </td>  
            </tr>
        <tr>
        <td> 1:10</td><td> 2:20 </td><td><b> Debate 2 </b><br><i> Climate migration will be the biggest threat to world wide political stability</i> </td>
      </tr>
      <tr>
        <td> 2:20</td><td> 3:05 </td><td><b> Zaria Forman</b><br><i>Climate Change Artist</i></td>
      </tr>
      <tr>
        <td> 3:05</td><td> 3:20 </td><td><b>Q&A Session </b></td>
      </tr>
      <tr>
        <td> 3:20</td><td> 3:30  </td><td> <b> Closing Remarks </b></td>
      </tr>
    </table>
  </div>
  <!-- Stop editing -->

</div>

<!--

{% endif %}

{% if site.live %}
<hr>

 <!-- Live Streem Section -->
<!--<div id="steam_sec">
 
<div class="stream">
<iframe frameborder="0" width="480" height="270" scrolling="no" src="https://link.brightcove.com/services/player/bcpid1722935254001/?bctid=5189180889001&autoStart=false&secureConnections=true&width=480&height=270" ></iframe>
  </div>
  <hr>
</div>-->

{% endif %}
<!--
<div class="speakers">
  <h1>SPEAKERS {{ site.conf_year}} </h1>
  <ul>
    {% for speaker in site.data.[site.conf_year].speakers %}
      <li>
        <div class="speaker">
        <a href="{{ speaker.bio_link }}" target="_blank">
          <img class="head" src="/img/{{ site.conf_year }}/speakers/{{ speaker.name_normal }}.jpg">
          <h2> {{ speaker.name}} </h2>
         </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>



<hr>
<div class="sponsors">
<h1>UNIS-UN recognizes and thanks UNFCU for their generous support</h1>
</div>
