---
layout: default
---
<div class="col_2">
    <div class="left">
      <h1> WELCOME TO UNIS-UN </h1>
      <p> Welcome to the UNIS-UN Website! Our goal as an organization is to provide an educationally and intellectually enriching experience for our peers from around the world while promoting globalism and cross-cultural exchange.</p>

      <p>We host an annual conference relating to a contemporary global issue. We invite expert and engaging speakers that are well versed on the topic who present to our audience of 700 high school students from International Schools from 5 continents. For the past 40 years it has been held in the General Assembly Hall at the United Nations Headquarters in New York City. </p>
        
      <p>To the end of promoting global awareness and cross-culturalism, the annual themes are always ones of global importance. Over three hundred students from all over the world are invited to attend in addition to the upper classes at the United Nations International School. This is our second year that there will be a half day international celebration featuring international performances and a cultural showcase in the Sylvia Howard Fuhrman Auditorium at UNIS.</p>

    <p> <h3><!--<a href="http://www.unis-un.org/assets/working_paper.pdf">--> <i class="fa fa-newspaper-o"></i> Check back soon for the working paper!</a> </h3></p>
    </div>

    <div class="right cur_conf">
    {%if site.show_tweets %}     
      
      <h2>TWEETS</h2>

      <a class="twitter-timeline" href="https://twitter.com/unis_un" data-widget-id="557557787337957376">Tweets by @unis_un</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    {% else %}
      <h1>UPCOMING EVENTS</h1>
      <a href="/confs/{{ site.conf_year }}">
        <img id ="homeuplogo" class="logo" src="/img/{{ site.conf_year }}/conf-logo.png"> 
      </a>
      <div class ="homeupcoming">
      <a href="/confs/{{ site.conf_year }}">
        <h2> UNIS-UN {{ site.conf_year }} </h2>
        <p> {{ site.data.[site.conf_year].info.title }}</p>
      </a>
      </div>

    {% endif %}

    </div>
    <div style="clear:both;"></div>
</div>

{% if site.show_sched %}
<hr>

<div class="schedule col_2">
  <h1>SCHEDULE</h1>
  <!-- Edit below -->
  <div class="left">
    <h2> Thursday 5<sup>th</sup> </h2>
    <table >
      <tr>
        <td> 8:55 </td><td> 9:00 </td><td> <b>Executive Committee Opening Remarks <b> </td>
      </tr>
      <tr>
        <td> 9:00 </td><td> 9:05 </td><td> <b>Executive Director Opening Remarks </b> <br> <i> Ms. Jane Camblin, UNIS Executive Director </i> </td>
      </tr>
      <tr>
        <td> 9:05 </td><td> 9:15 </td><td> <b> Secretary-General Opening Remarks </b> <br> <i> H.E. Mr. Ban Ki Moon </i></td>
      </tr>
      <tr>
        <td> 9:20  </td><td> 10:10 </td><td> <b> Ms. Amina Mohammed </b> <br> <i> Special Advisor on Post-2015 Development Planning</i></td>
      </tr>
      <tr>
        <td> 9:50 </td><td> 10:30 </td><td> <b> Mr. Georg Kell </b> <br> <i> Executive Director, UN Global Compact </i> </td>
      </tr>
      <tr>
        <td> 10:30 </td><td> 11:15 </td><td>  <b> Open Dialogue </b> <br><i> Corporate Social Responsibility </i> </td>
      </tr>
      <tr>
        <td> 11:20 </td><td> 1:30 </td><td> Lunch </td>
      </tr>
      <tr>
        <td> 1:45 </td><td> 2:35 </td><td><b> Ms. Jennifer Siebel Newsom</b> <br><i> CEO, Filmmaker, Women's Rights Advocate </i></td>
      </tr>
      <tr>
        <td> 2:35 </td><td> 2:40  </td><td> <b> Closing Remarks </b></td>
      </tr>
    </table>
  </div>
  <!-- Day 2 -->
  <div class="right">
    <h2> Friday 6<sup>th</sup> </h2>
    <table >
      <tr>
        <td> 9:00 </td><td> 9:05 </td><td> <b>Executive Committee Opening Remarks </b></td>
      </tr>
      <tr>
        <td> 9:05 </td><td> 9:55 </td><td> <b> Mr. Hans Rosling </b> <br> <i> Co-Founder & Chairman, Gapminder Foundation </i></td>
      </tr>
      <tr>
        <td> 9:55  </td><td> 10:45 </td><td> <b> Mr. Joel K. Bourne </b> <br> <i> Journalist and Writer, National Geographic</i></td>
      </tr>
      <tr>
        <td> 10:45 </td><td> 10:55 </td><td> <b> Video Message </b> </td>
      </tr>
      <tr>
        <td> 11:10 </td><td> 12:35 </td><td> <b> Lunch </b> </td>
      </tr>
      <tr>
        <td> 12:45 </td><td> 1:50 </td><td> <b> Open Dialogue </b> <br><i> XL Keystone Pipeline </i> </td>
      </tr>
      <tr>
        <td> 1:45 </td><td> 2:40 </td><td><b> Ms. Estela Vazquez</b> <br><i> Executive Vice President, 1199 SEIU HealthCare Union </i></td>
      </tr>
      <tr>
        <td> 2:45 </td><td> 2:45  </td><td> <b> Closing Remarks </b></td>
      </tr>
    </table>
  </div>
  <!-- Stop edting -->
</div>

{% endif %}

{% if site.live %}
<hr>

 <!-- Live Streem Section -->
<div id="steam_sec">
  <h1>LIVE STREAM</h1>
  <div class="stream">
    <!-- This is where the live stream embed link will go -->

    <iframe frameborder="0" width="480" height="270" scrolling="no" src="https://link.brightcove.com/services/player/bcpid1722935254001/?bctid=2490774073001&autoStart=false&secureConnections=true&width=480&height=270" ></iframe> 

    <!-- Dont touch anything below this -->
  </div>
  <hr>
</div>

{% endif %}

<div class="speakers">
  <h1>SPEAKERS {{ site.conf_year}} </h1>
  <ul>
    {% for speaker in site.data.[site.conf_year].speakers %}
      <li>
        <div class="speaker">
        <a target ="_blank" href="{{ speaker.bio_link }}">
          <img class="head" src="/img/{{ site.conf_year }}/speakers/{{ speaker.name_normal }}.jpg">
          <h2> {{ speaker.name}} </h2>
         </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<hr>
<div class="sponsors">
<h1>UNIS-UN recognizes and thanks UNFCU for their generous support</h1>
</div>

<!-- -->
