<footer>
  <div class="wrap">

  <div class="column">
    <ul>
      <li>{{ site.title }}</li>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>
  </div>

  <div class="column">
    <ul>
      {% if site.facebook_username %}<li>
        <a target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
          <i class="icon fa fa-facebook"></i>
          <span class="username"> {{ site.facebook_username }}</span>
        </a>
      </li>{% endif %}
      {% if site.twitter_username %}<li>
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
          <i class="icon fa fa-twitter"></i>
          <span class="username"> {{ site.twitter_username }}</span>
        </a>
      </li>{% endif %}
      {% if site.insta_username %}<li>
        <a target="_blank" href="http://instagram.com/{{ site.insta_username }}">
          <i class="fa fa-instagram"></i>
          <span class="username"> {{ site.insta_username }}</span>
        </a>
      </li>{% endif %}
    </ul>
  </div>

  <div class="column">
    <p>Copyright © 2016 {{ site.title }}</p>
  </div>

</div>
</footer>
