<header>
  <div class="wrap header">
    <table>
      <tr>
        <td>
          <nav>
            <ul>
              <li>
                <a href="/">ABOUT</a>
                <ul>
                  <li> <a href="/about/mission">MISSION</a> </li>
                  <li> <a href="/about/history">HISTORY</a> </li>
                  <li> <a href="/about/organization">ORGANIZATION</a> </li>
                </ul> 
              </li>
              <li>
                <a href="/confs/">CONFERENCES</a>
                <ul>
                  {% for year in site.data.confs limit:3 %}
                    <li>
                      <a href="/confs/{{ year }}"> {{ site.data.[year].info.year }} {{ site.data.[year].info.title_s }}</a>
                    </li>
                  {% endfor %}
                  <li> <a href="/confs/">MORE</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </td>
        <td>
          <div id="main_logo">
            <a href="/"><img src="/img/main-logo.png" id="main_logo_img"> </a>
          </div>
        </td>
        <td>
          <nav>
            <ul>
              <li>
               <a href="/info/">INFORMATION</a>
               <ul>
                  <li> <a href="/info/schools">VISITING SCHOOLS</a> </li>
                  <li> <a href="/info/hosts">UNIS HOSTS</a> </li>
                </ul> 
              </li>
              <li>
               <a href="/contact/">CONTACT</a>
              </li>
            </ul>
          </nav>
        </td>
      </tr>
    </table>
  </div>
</header>
