<header>
  <div class="wrap header">
    <nav>
      <ul>
        <li>
          <a href="/"> About </a> 
        </li>
        <li>
          <a href="/"> Conferences </a>
          <ul>
            <li>
              <a href="#">2015 </a>
            </li>
            <li>
              <a href="#">2014 </a>
            </li>
          </ul>
        </li>
        <li>
         <a href="/"> Info </a>
        </li>
      </ul>
    </nav>
    <div id="logo">
      <img src="img/generic-logo.png" id="logo_img">
      <div>
        <span id="main_title"> UNIS-UN </span>
        <br>
        <span id="main_sub"> 2015 Sustainability </span>
      <div>
    </div>
  <div> 
</header>
