<header>
  <div class="wrap header">
    <nav>
      <ul>
        <li>
          <a> About </a>
          <ul>
            <li> <a href="/about/mission"> Our Mission</a> </li>
            <li> <a href="/about/history"> History </a> </li>
            <li> <a href="/about/organization"> Organization </a> </li>
          </ul> 
        </li>
        <li>
          <a> Conferences </a>
          <ul>
            {% for year in site.data.confs limit:3 %}
              <li>
                <a href="/confs/{{ year }}"> {{ site.data.[year].info.year }} {{ site.data.[year].info.title_s }} </a>
              </li>
            {% endfor %}
            <li> <a href="/confs/">More...</a></li>
          </ul>
        </li>
        <li>
         <a> Information </a>
         <ul>
            <li> <a href="/info/schools"> For Visiting Schools </a> </li>
            <li> <a href="/info/hosts"> For UNIS Hosts </a> </li>
          </ul> 
        </li>
      </ul>
    </nav>
    <div id="main_logo">
      <a href="/"><img src="/img/main-logo.png" id="main_logo_img"> </a>
    </div>
  </div> 
</header>
