---
layout: default
---

{% assign conf = site.data.[page.year] %}

<h1>{{ page.title }}</h1>
  
<div style="display:inline-block;">
<img class="logo logo_in_page" src="/img/{{ conf.info.year }}/conf-logo.png" {% if conf.info.logo_des %} title="{{ conf.info.logo_des }}" {% endif %}>
<h2> About </h2>
{{ content }}
</div>

{% if conf.speakers %}
<hr> 
<div class="speakers">
    <h1> Speakers </h1>
    <ul>
      {% for speaker in conf.speakers %}
        <li>
          <div class="speaker">
            <a target ="_blank" href="{{ speaker.bio_link }}">
            <img class="head" src="/img/{{ conf.info.year }}/speakers/{{ speaker.name_normal }}.jpg">
            <h2> {{ speaker.name }} </h2></a>
          </div>
        </li>
      {% endfor %}
    </ul>
 </div>
{% endif %}

{% if conf.schools %}
 <hr>
 <div id="visiting_schools">
    <h1> Visiting Schools </h1>
    <table>
    {% assign sorted_schools = conf.schools | sort: 'country' %}
    {% for school in sorted_schools %}
      <tr>
        <td>
          <img class="flag" src="/img/flags/{{ school.flag }}.png" >
        </td>
        <td>
          <span style="font-weight: bold;"> {{ school.country }} </span>
        </td>
        <td>
          {{ school.schools | join: ', '}}
        </td>
      </tr>
      {% endfor %}
    </table>
 </div>
 {% endif %}
