---
layout: default
---

{% assign conf = site.data.[page.year] %}

<h1>{{ page.title }}</h1>
  
<div>
<h2> About </h2>
<img class="logo logo_in_page" src="/img/{{ conf.info.year }}/conf-logo.png">
{{ content }}
</div>

<hr> 

<div class="speakers">
    <h1> Speakers </h1>
    <ul>
      {% for speaker_hash in conf.speakers %}
        {% assign speaker = speaker_hash[1] %}
        <li>
          <div class="speaker">
            <img class="head" src="/img/2015/speakers/sample.jpg">
            <h2> {{ speaker.name}} </h2>
          </div>
        </li>
      {% endfor %}
    </ul>
 </div>